@page
@model FrisbeeGolfCourseMap.Pages.Tom.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Alias" class="control-label"></label>
                <input asp-for="Course.Alias" class="form-control" />
                <span asp-validation-for="Course.Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Location" class="control-label"></label>
                <input asp-for="Course.Location" class="form-control" />
                <span asp-validation-for="Course.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Difficulty" class="control-label"></label>
                <input asp-for="Course.Difficulty" class="form-control" />
                <span asp-validation-for="Course.Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.NumberOfHoles" class="control-label"></label>
                <input asp-for="Course.NumberOfHoles" class="form-control" />
                <span asp-validation-for="Course.NumberOfHoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.TimeToComplete" class="control-label"></label>
                <input asp-for="Course.TimeToComplete" class="form-control" />
                <span asp-validation-for="Course.TimeToComplete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.ThrowTotal" class="control-label"></label>
                <input asp-for="Course.ThrowTotal" class="form-control" />
                <span asp-validation-for="Course.ThrowTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Description" class="control-label"></label>
                <input asp-for="Course.Description" class="form-control" />
                <span asp-validation-for="Course.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
